C:\\Users\\elpat\\Desktop\\TestDBRecieve\\Captura de pantalla de 2019-02-13 20-35-32.png
C:\\Users\\elpat\\Desktop\\TestDBRecieve\\alcance.png
build/built-jar.properties
build/classes/minidropbox/ClienteGUI.class
build/classes/minidropbox/OsUtils.class
dist
